<form [formGroup]="form">
  <label>
    <pre>firstname</pre>
    <input formControlName="firstname" type="text">
  </label>
  <label>
    <pre>lastname</pre>
    <input formControlName="lastname" type="text">
  </label>
  <label>
    <pre>nickname</pre>
    <input formControlName="nickname" type="text">
    <ng-container *ngIf="form.controls.nickname.hasError('banned')">
      <h5>{{ form.controls.nickname.getError('banned').word }} is forbiiden word</h5>
    </ng-container>
  </label>
  <fieldset formGroupName="addressGroup">
    <label>
      <pre>postal code</pre>
      <input formControlName="postal" type="text">
    </label>
    <label>
      <pre>address</pre>
      <input formControlName="address" type="text">
    </label>
  </fieldset>
  <fieldset formArrayName="phones">
    <button (click)="addPhone()">+</button>
    <div *ngFor="let ctrl of form.controls.phones.controls; index as i" [formGroupName]="i">
      <label>
        <pre>phone №</pre>
        <select formControlName="type">
          <option *ngFor="let type of types" [value]="type">{{type}}</option>
        </select>
        <input formControlName="phone" type="text">
      </label>
      <button (click)="removePhone(i)">-</button>
    </div>
  </fieldset>
  <fieldset formGroupName="skills">
    <legend>Skills</legend>
    <ng-container *ngIf="skills$ | async as skills;else loading">
      <div *ngFor="let skill of skills">
        <input type="checkbox" [formControlName]="skill">
        <label [for]="skill">{{skill}}</label>
      </div>
    </ng-container>
  </fieldset>
</form>
<ng-template #loading>
  ...loading
</ng-template>